DATABASE_URL="postgresql://neondb_owner:npg_Fr1DGLoThui0@ep-summer-feather-a1m96c5z-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="your-super-secret-jwt-key-here"
JWT_EXPIRES_IN="7d"
PORT=8080
NODE_ENV="development"